<%= form_for(@meal_type) do |f| %>

  <div class="field">
    <%= f.label :ordinal, "Lp" %><br>
    <%= f.number_field :ordinal, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :name, "Nazwa" %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :price, "Cena" %><br>
    <%= f.number_field :price, :step => 0.01, class: 'form-control' %>
  </div>
 <%= f.submit "Wyślij", class: "btn btn-primary" %>
<% end %>
