<div class="page-header">
<h1>Lista posiłków</h1>
</div>

<table class="table">
  <thead>
    <tr class="row">
      <th class="col-md-1">Lp</th>
      <th class="col-md-5">Nazwa</th>
      <th class="col-md-4">Cena</th>
      <th class="col-md-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @meal_types.each do |meal_type| %>
      <tr class="row">
        <td class="col-md-1"><%= meal_type.ordinal %></td>
        <td class="col-md-5"><%= meal_type.name %></td>
        <td class="col-md-4"><%= meal_type.price %></td>
        <td class="col-md-2">
          <%= link_to glyph(:search), meal_type, :class => 'x-icon' %>
          <%= link_to glyph(:pencil), edit_meal_type_path(meal_type), :class => 'x-icon' %>
          <%= link_to glyph(:trash), meal_type, method: :delete, data: { confirm: 'Czy jesteś pewny? Tej akcji nie da się cofnąć.' }, :class => 'x-icon' %>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<ul class="pager">
  <li><%= link_to 'Dodaj nowy posiłek', new_meal_type_path %></li>
  <li><%= link_to "Powrót do strony głównej", root_path %></li>
</ul>