<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Posiłek </h1>
</div>


<p>
  <strong>Lp:</strong>
  <%= @meal_type.ordinal %>
</p>

<p>
  <strong>Nazwa:</strong>
  <%= @meal_type.name %>
</p>

<p>
  <strong>Cena:</strong>
  <%= @meal_type.price %>
</p>

<ul class="pager">
  <li><%= link_to 'Edycja', edit_meal_type_path(@meal_type) %></li>
  <li><%= link_to 'Powrót do listy', meal_types_path %></li>
</ul>