<div class="page-header">
  <h1>Lista grup</h1>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nazwa grupy</th>
      <th>Liczba dzieci</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.children.size %></td>
        <td><%= link_to 'Pokaż szczegóły', group %></td>
        <td><%= link_to 'Edytuj', edit_group_path(group) %></td>
        <td><%= link_to 'Usuń', group, method: :delete, data: { confirm: 'Czy jesteś pewny? Tej akcji nie da się cofnąć. Dzieci należące do tej grupy nie zostaną usunięte.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<ul class="pager">
  <li><%= link_to "Dodaj grupę", new_group_path %></li>
  <li><%= link_to "Powrót do strony głównej", root_path %></li>
</ul>