<%= form_for(@child) do |f| %>
  <div class="form-group">
    <%= f.label :barcode, "ID" %>
    <%= f.text_field :barcode, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :name, "Imię" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :lastname, "Nazwisko" %>
    <%= f.text_field :lastname, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :group %>
    <%= f.select :group_id, options_for_select(Group.all.map{|g|[g.name, g.id]}, @child.group_id), {:prompt => "Wybierz..."}, {class: 'form-control'} %>
  </div>
  
  <div class="form-group">
    <%= f.label :birthdate, "Data urodzenia" %>
    <%= f.date_select :birthdate, start_year: Date.today.year - 7, end_year: Date.today.year, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :pesel, "PESEL" %>
    <%= f.text_field :pesel, class: 'form-control' %>
  </div>
  
  <%= f.submit "Wyślij", class: "btn btn-primary" %>
<% end %>