<div class="page-header">
  <h1>Lista dzieci</h1>
</div>

<table class="table">
  <thead>
    <tr class="row">
      <th class="col-md-1">ID</th>
      <th class="col-md-6">Imię i nazwisko</th>
      <th class="col-md-3">Grupa</th>
      <th class="col-md-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr class="row">
        <td class="col-md-1"><%= child.barcode %></td>
        <td class="col-md-6"><%= child.name %> <%= child.lastname %></td>
        <td class="col-md-3"><%= child.group.name if not child.group.nil? %></td>
        <td class="col-md-2">
          <%= link_to glyph(:search), child, :class => 'x-icon' %>
          <%= link_to glyph(:pencil), edit_child_path(child), :class => 'x-icon-red' %>
          <%= link_to glyph(:trash), child, method: :delete, data: { confirm: 'Czy jesteś pewny? Tej akcji nie da się cofnąć.' }, :class => 'x-icon' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<ul class="pager">
  <li><%= link_to "Dodaj dziecko", new_child_path %></li>
  <li><%= link_to "Powrót do strony głównej", root_path %></li>
</ul>