<p id="notice"><%= notice %></p>

<h1>Listing Children</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Birthdate</th>
      <th>Pesel</th>
      <th>Barcode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td><%= child.name %></td>
        <td><%= child.lastname %></td>
        <td><%= child.birthdate %></td>
        <td><%= child.pesel %></td>
        <td><%= child.barcode %></td>
        <td><%= link_to 'Show', child %></td>
        <td><%= link_to 'Edit', edit_child_path(child) %></td>
        <td><%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Child', new_child_path, :method => "get", class: "button" %>
<%= button_to 'Powrót', root_path, :method => "get", class: "button" %>
