<div class="page-header">
  <h1>Szczegóły</h1>
</div>

<p>
  <strong>Imię:</strong>
  <%= @child.name %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @child.lastname %>
</p>

<p>
  <strong>Data urodzenia:</strong>
  <%= @child.birthdate %>
</p>

<p>
  <strong>PESEL:</strong>
  <%= @child.pesel %>
</p>

<p>
  <strong>Kod kreskowy:</strong>
  <%= @child.barcode %>
</p>

<ul class="pager">
  <li><%= link_to "Edycja", edit_child_path(@child) %></li>
  <li><%= link_to "Powrót do listy", children_path %></li>
</ul>