<div class="page-header">
  <h1>Posiłki, <%= @start_date.strftime("%d-%m-%Y") %></h1>
</div>

<table class="table">
  <thead>
    <tr>
<!--      <th class="col-md-1">Dzień</th> -->
      <th class="col-md-2">Imię</th>
      <th class="col-md-3">Nazwisko</th>
      
      
      <% @meal_types.each do |meal_type| %>
          <th class="col-md-1"><%= meal_type.name %></th>
      <% end %>
      
      <th class="col-md-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @stays.each do |stay| %>
      <tr>
<!--        <td class="col-md-1"><%= stay.start.strftime("%d-%m-%Y") %></td> -->
        <td class="col-md-2"><%= stay.child.name %></td>
        <td class="col-md-3"><%= stay.child.lastname %></td>
        
        <% @meal_types.each do |meal_type| %>
          <td class="col-md-1">
            <input type="checkbox" <%= "checked" if not get_meal(stay, meal_type).nil? %> <%= "data-stay=" + stay.id.to_s %> <%= "data-meal-type=" + meal_type.id.to_s %>>
          </td>
        <% end %>
        
<!--        <td class="col-md-1"><%= link_to glyph(:pencil), edit_stay_path(stay), :class => 'x-icon' %>
          <%= link_to glyph(:trash), stay, method: :delete, data: { confirm: 'Czy jesteś pewny? Tej akcji nie da się cofnąć.' }, :class => 'x-icon' %>
        </td> -->
      </tr> 
    <% end %>
  </tbody>
</table>

<script>
  $('input[type="checkbox"]').change(function() {
    stay_id = $(this).data("stay");
    meal_type_id = $(this).data("meal-type");
    
    if(this.checked) {
      $.post("/meals/", { meal: { stay_id: stay_id, meal_type_id: meal_type_id }});
    } else {
      $.ajax({url: '/meals/' + stay_id + '/' + meal_type_id, type: 'DELETE'});
    }
  });
</script>