<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "Główna", root_path %></li>
        <% if logged_in? %>
          <% if admin? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Użytkownicy <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Dodaj nowe", new_user_path %></li>
                <li><%= link_to "Lista kont", users_path %></li>
              </ul>
            </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Dzieci <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Dodaj nowe", new_child_path %></li>
              <li><%= link_to "Lista dzieci", children_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Konto <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Wyloguj się", logout_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Zaloguj się", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>